---
import axios from "axios"

import { Base58 } from "@/utils/Base58"

import Root from "./Root.astro"

const url = Astro.url.pathname

const accessToken = Astro.cookies.get("access_token")?.value
const refreshToken = Astro.cookies.get("refresh_token")?.value

const recentMenus = await axios
    .get<{ menus?: { id: number; title: string }[] }>(`${Astro.url.origin}/api/menus?limit=4`, {
        headers: {
            Cookie: `access_token=${accessToken}; refresh_token=${refreshToken}`,
        },
    })
    .then((res) => res.data?.menus ?? [])
    .catch((e) => (console.error(e), []))
---

<Root>
    <main class="container md:grid md:grid md:grid-cols-12 md:gap-x-10">
        <aside class="md:col-span-4 lg:col-span-3">
            <nav>
                <details open={url.startsWith("/m/")}>
                    <summary>Cardápios</summary>
                    <ul>
                        <li><a href="/m/new">Novo cardápio</a></li>
                        {
                            recentMenus.slice(0, 3).map((menu) => (
                                <li>
                                    <a href={`/m/${Base58.encode(menu.id)}`}>{menu.title}</a>
                                </li>
                            ))
                        }
                        {
                            recentMenus.length > 3 && (
                                <li>
                                    <a href="/m">Ver todos</a>
                                </li>
                            )
                        }
                    </ul>
                </details>
            </nav>
        </aside>
        <div role="document" class="md:col-span-8 lg:col-span-9">
            <slot />
        </div>
    </main>
</Root>
